@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #efecec;
  font-family: "Inter", sans-serif;
}

input,
button,
select {
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
}

.main-header {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.4rem 3.6rem;
}

.main-header__heading {
  font-size: 3.6rem;
  font-style: italic;
  color: #fc6736;
}

.hero {
  padding: 0 3.6rem;
}

.hero h2 {
  font-size: 4.2rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  font-weight: normal;
}

.highlighted-word {
  color: #0c2d57;
  font-weight: bold;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;
}

.post {
  display: flex;
  gap: 2rem;
}

.post img,
.post .post__details {
  flex: 1;
}
